body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.fixed-top-right {
    position: fixed; /* მთავარი, რომ scroll-ზე დარჩეს */
    top: 10px;
    right: 10px;
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.content {
    height: 1500px; /* scroll-ისთვის */
}