body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef2f7;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.result {
    background: linear-gradient(180deg, #6a5af9, #4c3cff);
    color: white;
    padding: 40px;
    text-align: center;
    width: 200px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 28px;
    font-weight: bold;
}

.result h3 {
    margin: 10px 0;
}



.summary {
    padding: 30px;
    width: 220px;
}

.summary h4 {
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background: #f3f3f3;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #2f3b52;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1f2a3a;
}