.parent {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightgray;
}

.child {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 100px;
  height: 60px;
  background-color: coral;
}