.fixed-box {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 50px;
  background-color: crimson;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 2000px;
}