body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  width: 400px;
  height: 200px;
  background-color: lightgray;
  display: flex;
  justify-content: flex-end; /* შიდა div მარჯვნივ */
  align-items: center;
}

.inner {
  width: 80px;
  height: 80px;
  background-color: steelblue;
}