.chad{
    background-color: black;
    color: red;
    text-align: center;

}
.chadd{
    background-color: magenta;
    color: black;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
}
