div{
    background-color: blue;
    color: black;
    
    border: 3px solid red;
    width: 300px;
    height: 300px;
    
}
.div1{
margin-left: 306px;
margin-top: -306px;
color: black;
background-color: yellow;
}
    